
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:400,700);

	body {
	    background-color: #33FFFF;
	    font-family: 'Indie Flower',cursive;
	    font-size: 16px;
	    font-weight: 300;
	    text-align: center;
	}


  #container {
		background-color: rgba(255,255,255,0.5);
		border: 2px solid lightblue;

		max-width: 940px;
		height: auto;
  	margin: 4em auto;
  	padding-left: 2em;
  	padding-right: 2em;
  	text-align: left;
  }
	h2 {
		text-align: center;
	}

	#menu {
		text-align: center;
		font-family: 'Tangerine', cursive,sans-serif;
		font-weight: 700;
		font-size: 24px;
	}

	main{
		max-width: 940px;
		min-height: 700px;
	}
	li {
	    display: inline;
	}

	li a {
	    padding: 14px 16px;
	    text-decoration: none;
			line-height: 200%;
	}

	/* Change the link color to #111 (black) on hover */
	li a:hover {
	    background-color: #229999;
	}

	#left{
		font-family: 'Arial', cursive,sans-serif;

		float:left;
		max-width: 440px;
	}

	#right{
		font-family: 'Arial', cursive,sans-serif;

		float:right;
		max-width: 440px;
	}



  aside {
    position: relative;
    width: 220px;
    right: 0;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #ccc;
  }

  footer {
    color: #888;
    border-top: 5px solid #ccc;
    clear: both;
  }

	img{
		outline-style: solid;
		outline-width: thick;
	}

	.imgframe {
	    background: #ffffff none repeat scroll 0 0;
	    border: 3px solid #000000;
	    padding: 12px;
	}
	header {
	    font-family: sans-serif;
	    font-size: 10px;
	}
